[mysqld]

# replication options
gtid_mode=ON
log_bin=binlog
log_slave_updates=1
enforce_gtid_consistency
expire_logs_days=7
server_id=1         # 1 for master1, 101 for slave1
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2

# semi-sync options
loose-rpl_semi_sync_master_enabled=1
loose-rpl_semi_sync_master_timeout=3600000
loose-rpl_semi_sync_master_wait_for_slave_count=1

### mysql general option
bind-address    = 0.0.0.0
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /usr/local/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="hw3_cluster"
wsrep_cluster_address="gcomm://192.168.0.101,192.168.0.102,192.168.0.103"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="192.168.0.101"
wsrep_node_name="node1"